<section class="bg-main-light">
    <div class="container">
        <div class="row py-2" >
        <h2>Get The Fresh Cart App</h2>
        <p>
            We Will Send you Alink ,Open it on Your phone to download the app .
        </p>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Email.." name="" id="">
      </div>
        <div class="col-md-2">
            <button class="btn bg-main text-white">Share App Link</button>
        </div>
        <hr>
        <div class="col-md-6 d-flex align-items-center">
         <p class="w-50 mb-0">Payments Partners</p>
         <img src="../../assets/images/payments.png" class="w-50">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <p class="w-50 mb-0">
                Get Deliveries With FreshCart
            </p>
            <img src="../../assets/images/app.png" class="w-50">

        </div>

    </div>
</div>
</section>